
body {
    background-color: #f9f9f9;
    color: #072a40;
    font-family:'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: center; /* Add this line */
    padding: 20px;
    background-color: #f9f7f0;
    color: #000000;
    position: relative;
}

.profile_pic {
    width: 10rem;
    height: auto;
    border-radius: 20%;
    margin-right: 20px;
}

.header_content h1 {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin: 0;
}

@media (max-width: 768px) {
    .header_content {
        flex-direction: column;
        align-items: center;
    }

    .profile_pic {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

nav ul {
    list-style-type: none;
    display: none; 
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(182, 185, 235);
    text-align: center;
    padding: 20px 0;
    margin-top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}



nav a {
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;

    padding: 15px;
    transition: background-color 0.3s, color 0.3s;
    display: block;
}

nav a:hover {
    background-color: rgb(182, 185, 235);;
    color: #000000;
}

nav a:focus,
nav a.active {
    color: #072a40;
    background-color: rgb(182, 185, 235);;
}

.main_content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
}

main h1 {
    text-align: center;
    grid-column: 1 / -1;
}

.learning_activities,
.information {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
}

.learning_activities h2,
.information h2 {
    background-color: #B6B9EB;
    color: #000000;
    padding: 10px;
    margin: 0;
}

.learning_activities ul {
    list-style-type: none;
}

footer {
    background-color: rgb(182, 185, 235);;
    color: #000000;
    font-family: 'Montserrat', sans-serif;

    padding: 15px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.dark-mode-button {
    background-color: black;
    border-radius: 40%;
    color: white;
    font-size: 20px;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

body.dark-mode {
    background-color: #333;
    color: #f9f7f0;
}

.header_content.dark-mode {
    background-color: #222;
    color: #f9f7f0;
}

nav ul.dark-mode {
    background-color: #444;
}

nav a.dark-mode {
    color: #f9f7f0;
}

nav a.dark-mode:hover {
    background: none;
    color: #f9f7f0;
}

.learning_activities.dark-mode,
.information.dark-mode {
    background-color: #444;
    border-color: #555;
}

footer.dark-mode {
    background-color: #222;
    color: #f9f7f0;
}


#hamburger {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000000;
    cursor: pointer;
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    
}
#hamburger::before {
    content: "☰";
}

@media (min-width: 600px) {
    #hamburger {
        display: none; 
    }

    .header_content {
        padding: 20px 40px; 
    }

    nav ul {
        display: flex;
        position: static;
        background-color: rgb(182, 185, 235);; 
        box-shadow: none;
        margin-top: 0;
        padding: 0;
        width: auto;
    }

    nav li {
        margin-right: 20px;
    }

    nav a {
        padding: 15px;
    }
    
    
}

@media screen and (max-width: 600px) {
    .menu {
        display: none;
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: rgb(182, 185, 235);;
        padding: 10px 0;
        text-align: center;
    }

    .menu.active {
        display: block;
    }

    .menu li {
        margin: 10px 0;
    }

    .header_content {
        justify-content: flex-end;
    }
    #hamburger.active::before {
        content: "❎";
    
    }
}



nav a {
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;

    padding: 15px;
    transition: background-color 0.3s, color 0.3s;
    display: block;
}

nav a:hover {
    background-color: rgb(182, 185, 235);;
    color: #000000;
}

nav a:focus,
nav a.active {
    color: #072a40;
    background-color: rgb(182, 185, 235);;
}
 
.hero {
    margin-top: 2rem;
    position: relative;
    align-items: center;
    justify-content: center;
    grid-column: 1/3;
}

.hero img {
    width: 100%;
    height: auto;
}

.herolabel {
    position: absolute;
    top: 15px;
    right: 15px;
    background: linear-gradient(#fff, #718CAA);
    border: 1px solid black;
    padding: 0.5rem;
    opacity: 0.8;
}

.herolabel p {
    margin: 0;
    font-weight: 600;
    font-size: 0.65rem;
} 



 iframe {
    width: 100%;
    max-width: 600px;
    height: 450px;
    border: none;
}
