@media screen and (min-width: 750px) {
    main {
        grid-template: auto 1fr / 1fr 1fr;

    }

    nav ul {
        display: flex;
    }

    nav li {
        flex: 1 1 100%;
    }
    footer{
		padding: 12px;
	}
	

    footer p {
        display: block;
    }

    main h1 {
        grid-column: 1/3;
    }
    
    header {
        display: flex;
        justify-content: center;        
    
    }
     
    selection card { 
        box-shadow: 1px 1px 10px black;}
}